[Unit]
Description=nhentai-scraper service
After=network.target tor.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/nh-scraper
ExecStart=/usr/bin/python3 /root/nh-scraper/nhentai-scraper.py
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
